.c-prodInfo {
	display: flex;
	flex-wrap: wrap;
	padding: 24px 32px;
	&__item {
		width: calc((100% - (50px * 2)) / 3);
		margin-right: 50px;
		margin-bottom: 16px;
		&:nth-child(3),
		&:nth-child(6) {
			margin-right: 0;
		}
	}
}