.c-pagination {
	padding: 12px;
	display: flex;
  align-items: center;
  justify-content: center;
	border-top: 1px solid #F2F2F2;
	&__item {
		padding: 0 4px;
		color: #EA1717;
		&.is-active {
			font-weight: 700;
		}
		&.is-active, &.is-total {
			font-style: italic;
		}
		&.is-prev, &.is-next {
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 8px;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			outline: 1px solid #E5E5E5;
			background-color: #fff;
			cursor: pointer;
			transition: .7s;
			&:hover {
				outline-color: #EA1717;
			}
		}
		&.is-disabled {
			cursor: default;
			&:hover {
				outline-color: #E5E5E5;
			}
			.o-icon--prev {
				border-color: transparent #c7c7c7 transparent transparent;
			}
			.o-icon--next {
				border-color: transparent transparent transparent #c7c7c7;
			}
		}
	}
}
