.c-pagination {
	display: flex;
  align-items: center;
  justify-content: center;

	&__item {
		padding: 0 4px;
		color: #EA1717;
		&.is-active{
			font-weight: 700;
		}
		&.is-active, &.is-total{
			font-style: italic;
		}
		&.is-prev, &.is-next{
			margin: 0 8px;
		}
	}
}