.c-adInfo {
	position: relative;
	width: calc(100% - 360px);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	&__tag {
		position: absolute;
		top: 16px;
		left: 0;
		background-color: #0090EB;
		&:after {
			content: '';
			position: absolute;
			display: inline-block;
			width: 8px;
			height: 100%;
			transform: skew(-13deg);
			background-color: #0090EB;
		}
	}
	&__text {
		display: inline-block;
		padding: 12px 8px;
		color: #FFF;
		font-weight: 500;
		transform: skew(-13deg);
		background-color: #0090EB;
	}
	&__title {
		position: absolute;
		top: 64px;
		left: 24px;
		color: #FFF;
		font-size: 36px;
		font-weight: 700;
	}
	&__keyword {
		margin: 0 24px 48px;
		li {
			max-width: 100%;
			margin-right: 8px;
			display: inline-block;
			& + li {
				margin-top: 16px;
			}
		}
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2px 12px;
			color: #FFF;
			font-size: 14px;
			font-weight: 500;
			line-height: 21px;
			border-radius: 100px;
			background: rgba(255, 255, 255, 0.2);
			span {
				display: inline-block;
				width: 100%;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
}