.c-themeRec {
	margin: auto;
	display: flex;
	width: 1240px;
	height: 596px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 4px 0 rgb(43 43 43 / 10%);
	&__adInfo {
		width: 50%;
		display: flex;
		// background-color: #275E9D;
	}
	&__prodInfo {
		width: 50%;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		padding: 24px 32px;
		border-bottom: 1px solid #F2F2F2;
	}
	&__item {
		display: none;
		width: calc((100% - (50px * 2)) / 3);
		margin-right: 50px;
		margin-bottom: 16px;
		&:nth-child(3), &:nth-child(6) {
			margin-right: 0;
		}
		&:nth-child(-n+6) {
			display: block;
		}
	}
}