button {
	width: 60px;
	cursor: pointer;
}
.c-todoList {
	&__input {
		width: 155px;
		height: 18px;
    display: inline-block;
    vertical-align: top;
	}
	&__table {
		margin-top: 16px;
		border-spacing: 0;
		border-collapse: collapse;
		th, td {
			padding: 5px;
			width: 100px;
			border: 1px solid black;
		}
	}
}